/* reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics  */
body{
    font-family: sans-serif;
}

header{
    position: fixed;
}

main{
    position: sticky;
}

footer{
    position: relative;
}

/* utils  */
.conteiner{
    width: 900px;
    margin: auto;
}

.flex{
    display: flex;
}