/* reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics  */
body{
    font-family: sans-serif;
}

header{
    background-color: #FF6901;
    color: white;
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 10px gray;
}

nav{
    align-items: center;
    padding: 10px 0;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
}

main{
    padding: 50px 0;
}

footer{
    color: white;
    background-color: #1A1A1A;
    position: relative;
    padding: 10px 0;
}

a{
    text-decoration: none;
    color: white;
}


/* utils  */
.container{
    max-width: 900px;
    margin: auto;
}

.flex{
    display: flex;
}


/* header  */
.header-nav>ul{
    flex-wrap: wrap;
    flex-basis: 30%;
}

nav :last-child{
    justify-content: flex-end;
}

.logo-container{
    text-align: center;
    flex-grow: 1;
}

.logo{
    height: 40px;
}

/* main  */
.row{
    flex-wrap: wrap;
    gap: 5px;
}

.col{
    flex-basis: calc(100% / 3 - 10px/3);
    margin-bottom: 50px;
    position: relative;
}

.card img {
    width: 100%;
    height: auto;
}

.hover-img{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.discount{
    color: white;
    font-size: 14px;
    position: absolute;
    left: 0;
    bottom: 100px;
}

.favorite{
    font-size: 30px;
    background-color: white;
    padding: 3px 7px;
    position: absolute;
    right: 0;
    top: 10px;
}

.red-bg{
    background-color: red;
    padding: 3px 7px;
}

.sostenibilita{
    background-color: green;
    padding: 3px 7px;
}

.outlet-price{
    color: red;
}

.real-price{
    text-decoration: line-through;
}

.favorite:hover{
    color: red;
}

.card:hover .hover-img{
    display: block;
}

/* footer  */
.info a{
    font-size: 12px;

}

.footer-nav{
    justify-content: space-between;
}

footer h3, footer h5{
    margin-bottom: 10px;
}
